.product{
    display: flex;
    flex-direction:column; 
    align-items: center;
    justify-content: flex-end;
    min-width: 28%;
    margin: 10px;     
    background-color: white;
    z-index: 1;
}
.product__rating{
    display: flex;
}   
/* direct accessing child object  */
.product > img{
    max-height: 50%;
    max-width: 50%;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: -50px;
    /* align-self: center; */
}
.product > button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    margin-bottom: 20px;
    /* align-items: center; */
    
}
.product__info{
    margin-top: 10px ;
    margin-left: -60px;
    width: 70%;
    height: 70%;
}
.product__price{
    margin-top: 5px;
}